* {
  margin: 0px;
  padding: 0px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/*font*/

@font-face {
  font-family: 'dinregular';
  src: url('fonts/dinregular-webfont.woff2') format('woff2'),
  url('fonts/dinregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dinmedium';
  src: url('fonts/dinmedium-webfont.woff2') format('woff2'),
  url('fonts/dinmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dinbold';
  src: url('fonts/din-bold-webfont.woff2') format('woff2'),
  url('fonts/din-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.fontreg {
  font-family: 'dinregular';
}

.fontbold {
  font-family: 'dinbold';
  font-weight: normal;
}

/*font*/

/*starting of container*/

.container {
  max-width: 944px;
  margin: 0px auto;
}

/*end of container*/

/*starting of my*/

.my-73 {
  margin: 73px auto 81px;
}

/*end of my*/

/*starting of header*/

header {
  display: flex;
  justify-content: space-between;
}

.mobilogo {
  display: none;
}

header .right-bar {
  display: none;
}

nav ul {
  padding-top: 26px;
}

nav li {
  display: inline;
  padding: 9px;
}

nav a {
  text-decoration: none;
  color: #3d3d3d;
}
.active {
  color: #f78806;
}

nav a:hover {
  color: #f78806;
  transition: 0.6s;
}

nav ul > a {
  display: none;
}

/*end of header*/


/*starting of banner*/

.banner {
  width: 91%;
  display: flex;
  justify-content: space-between;
  margin: 34px auto 0px;
}

.banner-img {
  position: relative;
  margin-right: 3%;
}

.com, .ada, .sust {
  position: absolute;
  font-size: 17px;
  text-transform: uppercase;
}

.com {
  top: 42px;
  left: 21%;
}

.ada {
  top: 132px;
  left: 8%;
}

.sust {
  top: 132px;
  left: 64%;
}

.banner-content {
  margin-left: 4%;
}

.banner-content p {
  font-size: 32px;
}

/*end of banner*/

/*starting of project*/

.dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: #17aacf;
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}



.project {
  padding: 41px 0px 21px 0px;
}

/*end of project*/

/*starting of product*/

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -4px;
  position: relative;
}


.row:before {
  content: '';
  position: absolute;
  background-color: #cbcccc;
  width: 100%;
  height: 1px;
  top: -9%;
  left: 0%;
}

.col {
  width: 32%;
  padding-bottom: 50px;
}

.col a {
  text-decoration: none;
}

.col-img {
  width: 301px;
  max-width: 100%;
  height: auto;
}

.col img {
  max-width: 100%;
  border: 1px solid #d3d3d3;
}

.img-content {
  padding-top: 4px;
}

.heading-title {
  color: #17aacf;
  font-size: 21px;
}

.para-title {
  color: #3d3d3d;
  font-size: 14px;
}

.col a:hover .heading-title, .col a:hover .para-title {
  color: #df6d27;
}

/*end of product*/

/*starting of footer*/

footer {
  background-color: #000000;
}

.footer-row {
  padding: 38px 0px;
  position: relative;
}

.footer-col-wrap {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.footer-col-wrap a {
  text-decoration: none;
}

.footer-col > p {
  text-align: center;
}

.width {
  width: 47%;
}

.footer-title {
  color: white;
  font-size: 9px;
  padding-bottom: 22px;
}

.footer-img {
  position: relative;
  padding: 0px 0px 29px 10px;
}

.footer-img:after {
  content: '';
  position: absolute;
  background-color: #777777;
  width: 68%;
  height: 1px;
  bottom: 7%;
  left: 15%;
}

.footer-pic {
  position: absolute;
  top: 5%;
  left: 0%;
}

.more {
  color: #f78806;
  font-size: 14px;
  font-family: dinregular;
  position: relative;
  padding-right: 13px;
}
.more:hover {
  color: #d35400;
}

.more:after {
  content: '';
  position: absolute;
  border-top: 1px solid #d35400;
  border-right: 1px solid #d35400;
  width: 8%;
  height: 42%;
  top: 31%;
  right: -6%;
  transform: rotate(46deg);
}

.footer-para {
  position: relative;
}

.footer-para p {
  color: white;
  font-size: 14px;
  padding-bottom: 33px;
  line-height: 19px;
}

.footer-para a {
  color: #f78806;
}

.footer-para a:hover {
  color: #d35400;
}

.border-b:after {
  content: '';
  position: absolute;
  background-color: #777777;
  height: 1px;
  width: 63%;
  bottom: -6%;
  left: 17%;
}

.b-14:after {
  bottom: 14%;
}

.pt-26 {
  padding-top: 26px;
}

.info {
  background-image: linear-gradient(to bottom, #ffa103, #f6940b);
  position: absolute;
  top: -3%;
  right: 0%;
  width: 34%;
}

.contact {
  text-align: center;
  position: relative;
  padding: 33px 0px;
}

.contact h2 {
  color: white;
  font-size: 32px;
  padding-bottom: 29px;
  position: relative;
}

.contact h2:after {
  content: '';
  position: absolute;
  width: 61%;
  height: 1px;
  left: 20%;
  top: 62%;
  background-color: #ffcc79;
}

.contact > a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, white, #ececec);
  padding: 6px;
  border-radius: 6px;
  color: #f78806;
  letter-spacing: 1px;
  font-size: 15px;
  box-shadow: 1px 2px 4px #c87b06;
}

button i {
  padding-left: 2px;
}

.contact-num {
  padding-top: 25px;
}

.contact-num a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 18px;
}

.contact-num:after {
  content: '';
  position: absolute;
  background-color: #f8c280;
  width: 57%;
  height: 1px;
  top: 77%;
  left: 22%;
}

.icon {
  padding-top: 38px;
}

.icon a {
  color: white;
}

.icon i {
  padding-right: 10px;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-rss:hover {
  transition: 0.8s;
}

.fa-facebook:hover {
  color: #4267B2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-rss:hover {
  color: #f26522;
}

/*end of footer*/




/******starting of mobile view media query******/

@media only screen and (max-width: 767px) {

  .mobi-container-main {
    width: 96%;
    margin: auto;
  }

  .mobi-container {
    width: 98%;
  }

  .my-73 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  /*starting of header*/

  .mobilogo {
    display: block;
  }
  .desklogo {
    display: none;
  }

  header {
    position: relative;
  }

  header:after {
    content: '';
    position: absolute;
    background-color: #f4f4f4;
    top: 137%;
    left: -1%;
    width: 102%;
    height: 1px;
  }

  header .right-bar {
    display: block;
    font-size: 25px;
    padding-top: 13px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.9s;

  }

  .sidenav .closebtn {
    position: absolute;
    top: 2%;
    left: -52px;
    font-size: 49px;
    margin-left: 50px;
  }

  /*end of header*/

  /*starting of banner*/

  .banner {
    width: 100%;
    flex-direction: column;
    padding-top: 4px;
  }

  .banner-img {
    text-align: center;
    padding-bottom: 19px;
    margin: auto;
  }

  .com {
    left: 21%;
  }

  .ada {
    left: 9%;
  }

  .sust {
    left: 64%;
  }

  .banner-content {
    width: 96%;
    margin: auto;
  }

  .banner-content p {
    font-size: 24px;
    text-align: justify;
  }

  /*end of banner*/

  /*starting of project*/

  .project {
    padding: 61px 0px 34px;
  }

  /*end of project*/

  /*starting of product*/

  .row {
    flex-direction: column;
    padding-bottom: 12px;
  }

  .row:before {
    top: -86px;
    left: 0%;
    width: 100%;
  }

  .col {
    width: 100%;
    margin: auto;
  }

  .col-img {
    width: auto;
  }

  .col img {
    width: 100%;
  }

  .img-content {
    padding-bottom: 35px;
  }

  .para-title {
    padding-top: 5px;
  }

  .col a:hover .heading-title {
    color: #17aacf;
  }
  .col a:hover .para-title {
    color: #3d3d3d;
  }

  /*end of product*/

  /*starting of footer*/

  .footer-row {
    padding-top: 304px;
  }

  .footer-col-wrap {
    flex-direction: column-reverse;
  }
  .info {
    width: 96%;
    right: 2%;
    top: -1%;
  }

  .contact {
    padding: 24px 0px;
  }

  .contact h2 {
    padding-bottom: 38px;
  }

  .contact h2:after {
    width: 34%;
    left: 33%;
    top: 67%;
  }
  .contact button {
    margin-top: 5px;
  }

  .contact-num {
    padding-top: 23px;
  }

  .contact-num:after {
    top: 76%;
    width: 28%;
    left: 36%;
  }

  .icon {
    padding-top: 32px;
    padding-bottom: 15px;
  }

  .width {
    width: 96%;
  }

  .footer-col-wrap {
    width: 100%;
  }

  .footer-col {
    padding-top: 37px;
    margin: 0px auto;
  }

  .footer-title {
    padding-bottom: 32px;
  }

  .footer-para p {
    padding-bottom: 13px;
  }

  .pt-26 {
    padding-top: 0px;
  }

  .pt {
    padding-top: 99px;
  }

  .border-b:after {
    display: none;
  }

  .footer-img:after {
    bottom: 6%;
  }

  .more-b:before {
    content: '';
    position: absolute;
    background-color: #777777;
    width: 78%;
    height: 1px;
    top: 248%;
    left: 11%;
  }

  .d-none {
    display: none;
  }

  /*end of footer*/

}


/******end of mobile view media query******/
